@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 35vh;
  border: solid 5px #00c6ad;
}
.status-bar {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 30vh;
}
.status-bar span {
  font-size: 24px;
  font-weight: 900;
  margin-left: 80px;
}
.song {
  display: flex;

  align-items: center;
  height: 15vh;
  width: 30vh;
}
.song__left {
  display: flex;
  border: 2px solid;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #ffbd11;
}
.song__right {
  display: flex;
  flex-direction: column;
}
.song__right__songname {
  font-size: 30px;
  font-weight: 900;
  line-height: 1.1;
  margin-left: 8px;
}
.song__right__director {
  font-weight: 600;
  margin-left: 8px;
  margin-top: 10px;
}
.play-navigation {
  display: flex;

  align-items: center;
  height: 10vh;
  width: 30vh;
}

.play-navigation__play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  border-radius: 15%;
  border: solid 2px;
  border-bottom-width: thick;
  margin-right: 12px;
}
.play-navigation__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px;
  border-bottom-width: thick;
  margin-right: 12px;
}
.play-navigation__play span {
  font-size: 20px;
}
.play-navigation__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px;
  border-bottom-width: thick;
}
.song-list {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 30vh;
  justify-content: space-between;
  margin-top: 10px;
}

.song-list__first {
  display: flex;
  margin-bottom: 40px;
}
.song-list__first__left {
  height: 50px;
  width: 50px;
  background-color: tomato;
  margin-right: 15px;
  border: solid;
  border-radius: 20%;
}
.song-list__first__right {
  display: flex;
  flex-direction: column;
}
.song-list__second {
  display: flex;
  margin-bottom: 40px;
}
.song-list__second__left {
  height: 50px;
  width: 50px;
  background-color: #ff89bb;
  margin-right: 15px;
  border: solid;
  border-radius: 20%;
}
.song-list__second__right {
  display: flex;
  flex-direction: column;
}
.song-list__third {
  display: flex;
  margin-bottom: 40px;
}
.song-list__third__left {
  height: 50px;
  width: 50px;
  background-color: #1847e5;
  margin-right: 15px;
  border: solid;
  border-radius: 20%;
}
.song-list__third__right {
  display: flex;
  flex-direction: column;
}
.song-list__fourth {
  display: flex;
  margin-bottom: 40px;
}
.song-list__fourth__left {
  height: 50px;
  width: 50px;
  background-color: #00c6ad;
  margin-right: 15px;
  border: solid;
  border-radius: 20%;
}
.song-list__fourth__right {
  display: flex;
  flex-direction: column;
}
.song-list__first__right span:nth-child(1) {
  font-weight: 900;
  font-size: 20px;
}
.song-list__first__right span:nth-child(2) {
  font-weight: 500;
  font-size: 15px;
}
.song-list__second__right span:nth-child(1) {
  font-weight: 900;
  font-size: 20px;
}
.song-list__second__right span:nth-child(2) {
  font-weight: 500;
  font-size: 15px;
}
.song-list__third__right span:nth-child(1) {
  font-weight: 900;
  font-size: 20px;
}
.song-list__third__right span:nth-child(2) {
  font-weight: 500;
  font-size: 15px;
}
.song-list__fourth__right span:nth-child(1) {
  font-weight: 900;
  font-size: 20px;
}
.song-list__fourth__right span:nth-child(2) {
  font-weight: 500;
  font-size: 15px;
}
